<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ofss.digx.mobile.android.allied"
    android:hardwareAccelerated="true"
    android:versionCode="10000"
    android:versionName="1.0.0">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- till here -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AblApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.unikrew.faceoff.ABLPlugin.ui.aasan_account.setup_account.SelectBankingModeActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            android:label="@string/activity_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/launcher_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="faceoff-license-key"
            android:value="@string/faceoff_key" />

        <activity
            android:name="com.unikrew.faceoff.ABLPlugin.CNIC_Availability"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.unikrew.faceoff.ABLPlugin.ui.nadra_sdk.fingerprint.FingerPrintActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.unikrew.faceoff.ABLPlugin.ui.nadra_sdk.otp.OtpVerificationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.unikrew.faceoff.ABLPlugin.ui.ViewFingerprintActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.unikrew.faceoff.ABLPlugin.ui.aasan_account.mobile_number.MobileNumberActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.unikrew.faceoff.ABLPlugin.ui.aasan_account.cnic_upload.CnicUploadActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.unikrew.faceoff.ABLPlugin.ui.aasan_account.otp_phase2.OtpVerification"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name="com.unikrew.faceoff.ABLPlugin.ui.account_application.AccountApplicationActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>
</manifest>
